rules_version = '2';

service cloud.firestore {
	function userIsAuthenticated(userId) { return request.auth.uid != null && request.auth.uid == userId }
  
  match /databases/{database}/documents {  
    match /public/{document=**} {
      allow read;
    }
    
    match /users/{userId}/{document=**} {
      allow read, write: if userIsAuthenticated(userId);
    }
    
    match /profiles/{document=**} {
      allow read;
    }
    
    match /profiles/{userId}/{document=**} {
      allow write: if userIsAuthenticated(userId);
    }
    
    match /logbook/{logbookId} {
      // Documents are public if their 'visibility' field is 'public'
      allow read: if resource.data.visibility == 'public';
      // Documents are private if their 'visibility' field is 'private' and the user is authenticated and the user's ID matches the 'userId' field
      allow read, write: if request.auth != null && request.auth.uid == resource.data.userId && resource.data.visibility == 'private';
    }
    
  }
}
